In [ ]:
#Q1 Explain with an example each when to use a for loop and a while loop.
while True:#HERE WE DONT KNOW THE ENDING POINT. loop will run until the given conndtion become false 
    num=input("enter your phone number ")
    if num.isnumeric() and len(num)==10:
        print("YOUR NUMBER HAS BEEN REGISTERED ")
        break
    else:
        print("Try again")

In [1]:
for i in range (0,3):#HERE WE KNOW THE ENDING POINT WHICH IS 3 , Loop WILL BE UNTILL CONDITION SATISFIED
    num=input("enter your phone number ")
    if num.isnumeric() and len(num)==10:
        print("YOUR NUMBER HAS BEEN REGISTERED ")
        break
    else:
        print("Try again")

enter your phone number  8

Try again

enter your phone number  5

Try again

enter your phone number  4

Try again

In [133]:
# Q2 Write a python program to print the sum and product of the first 10 natural numbers using for and while loop
#while loop
i=1
sum = 0
while i <= 10:
    sum = i + sum
    i=i+1
print(sum)

55

In [131]:
#for loop
sum = 0
for i in range (1,11):
    sum = sum +i
print(sum)

55

In [132]:
#while loop
i=1
product = 1
while i <= 10:
    product = i * product
    i=i+1
print(product)

3628800

In [2]:
#for loop
product=1
for i in range(1,11) :
    product = product *i
print(product)

3628800

In [128]:
#Question 3 
totalusage=int(input("enter your electric bill"))
cost=0
if totalusage<=100:
    for i in range(1,totalusage+1):
        i = i * 4.5
        cost = i
    print(cost)
    
elif totalusage>100 and totalusage<=200:
    for i in range (1,totalusage-99):
        i= i * 6
        cost = i 
    print(cost + 450)
elif totalusage>200 and totalusage<=300:
    for i in range(1,totalusage-199):
        i = i * 10
        cost = i
    print(cost + 1050)
else:
    for i in range(1,totalusage-299):
        i = i * 20
        cost = i
    print("cost =",cost + 2050)

enter your electric bill 310

cost = 2250

In [137]:
#Question 4
#for loop
list1=[]
l1=list(range(1,100+1))
for i in l1:
    i = i*i*i
    if i%4==0 or i%5==0:
        list1.append(i)
print(list1)

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [127]:
#while loop
list1=[]
cube=int
l1=list(range(1,100+1))
i=0
while i<len(l1):
    i =i+1
    cube = i*i*i
    if cube%4==0 or cube%5==0:
        list1.append(cube)
print(list1)

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [130]:
#Q5
vowels = ["a", "e", "i", "o", "u"]
count = 0
string="I want to become a data scientist"
for i in string:
    if i in vowels:
        count += 1
        print(i)
print("Number of vowels in the given string is: ", count)

a
o
e
o
e
a
a
a
i
e
i
Number of vowels in the given string is:  11